<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] [%c] - %m%n" />
		</layout>
	</appender>
	<appender name="dailyRolling" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/applogs/roadshow-app/roadshow.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH\:mm\:ss} %-5p 
		[%t] [%c] - %m%n" />
		</layout>
	</appender>
	<!-- 打印sql语句 -->
	<category name="java.sql">
		<priority value="debug" />
	</category>
	<category name="com.ibatis">
		<priority value="error" />
	</category>
	<logger name="org">
		<level value="ERROR" />
	</logger>
	<logger name="net">
		<level value="ERROR" />
	</logger>
	<!-- 所有com.cl包的Logger会被这个节点捕获，并切仅处理匹配的日志级别 -->
	<!-- additivity为true，代表处理成功后继续抛出；为false代表不再往外抛出 -->
	<category name="com.cl" additivity="false">
		<priority value="INFO" />
		<appender-ref ref="dailyRolling" />
	</category>
	<!-- 没有被处理的Logger进入这个节点 -->
	<root>
		<level value="ERROR" />
		<appender-ref ref="console" />
		<appender-ref ref="dailyRolling" />
	</root>
</log4j:configuration>
