<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
    >
	<!-- 开启自动切面代理:基于AspectJ切面的驱动器 -->
	<!-- true:代表使用cglib进行动态代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

    <bean id="waiter" class="com.cl.roadshow.spring.aop.aspectj.NaiveWaiter"/>
	<bean id="greetingAdvice" class="com.cl.roadshow.spring.aop.aspectj.PreGreetingAspect"/>
</beans>